## Classification-Based Collaborative Filtering
#### Provides personalization by accepting
    - user and item attribute data
    - Purchase history data
    - Other contextual data (fg. hour, season)
 ***** Logistic Regression is used as classifier

### Logistic Regression as a Classifier

In [ ]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from sklearn.linear_model import LogisticRegression

In [5]:
bank_full = pd.read_csv('bank_full_w_dummy_vars.csv')

In [7]:
bank_full.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,...,job_unknown,job_retired,job_services,job_self_employed,job_unemployed,job_maid,job_student,married,single,divorced
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,...,0,0,0,0,0,0,0,1,0,0
1,44,technician,single,secondary,no,29,yes,no,unknown,5,...,0,0,0,0,0,0,0,0,1,1
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,...,0,0,0,0,0,0,0,1,0,0
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,...,0,0,0,0,0,0,0,1,0,0
4,33,unknown,single,unknown,no,1,no,no,unknown,5,...,1,0,0,0,0,0,0,0,1,1

In [17]:
X = bank_full.iloc[:,np.arange(18,37)].values
y= bank_full.iloc[:,17].values

In [18]:
LogReg = LogisticRegression()
LogReg.fit(X,y)

C:\Users\Get\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [38]:
new_user = [[0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,0,1,1]]

In [39]:
y_pred=LogReg.predict(new_user)
y_pred

array([1], dtype=int64)